<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<h3><%= link_to 'Directory', 'directory.html'%></h3>
				<ul>
					<li><%= link_to 'Health &amp; Beauty', 'javascript:void(0);'%></li>
					<li><%= link_to 'Cuisine', 'javascript:void(0);'%></li>
					<li><%= link_to 'Fashion', 'javascript:void(0);'%></li>
					<li><%= link_to 'Services', 'javascript:void(0);'%></li>
					<li><%= link_to 'Offices', 'javascript:void(0);'%></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3">
				<h3><%= link_to 'Events', 'events.html'%></h3>
				<ul>
					<li><%= link_to 'Featured Events', 'javascript:void(0);'%></li>
					<li><%= link_to 'Book an Event', 'javascript:void(0);'%></li>
					<li><%= link_to 'Lookbook', 'javascript:void(0);'%></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3">
				<h3><%= link_to 'Sales', 'sales.html'%></h3>
				<ul>
					<li><%= link_to 'Featured Sales', 'javascript:void(0);'%></li>
					<li><%= link_to 'Latest Offers', 'javascript:void(0);'%></li>
					<li><%= link_to 'Coupons', 'javascript:void(0);'%></li>
					<li><%= link_to 'Specials', 'javascript:void(0);'%></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3">
				<h3><%= link_to 'Contact', 'contact.html'%></h3>
				<ul>
					<li><%= link_to 'Location', 'location.html'%></li>
					<li><%= link_to 'Address', 'javascript:void(0);'%></li>
					<li><%= link_to 'Google Maps', 'javascript:void(0);'%></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">	
				<p>Copyright Parkplace Tutelian co. 1997-2015</p>
			</div>
		</div>
	</div>
</footer>