<nav>
	<i class="fa fa-bars nav-trigger"></i>
	<%= link_to 'Button', 'contact.html', :class=>'nav-cta' %>
	<section class="upper">
		<div class="container">
			<% link_to '/', :class=>'site-id' do %>
				<h2>Park Place</h2>
			<% end %>
			<section class="mobile-table">
				<ul>
					<li>
						<%= link_to 'Directory', 'directory.html'%>
						<ul>
							<li><%= link_to 'Health &amp; Beauty', 'javascript:void(0);'%></li>
							<li><%= link_to 'Cuisine', 'javascript:void(0);'%></li>
							<li><%= link_to 'Fashion', 'javascript:void(0);'%></li>
							<li><%= link_to 'Services', 'javascript:void(0);'%></li>
							<li><%= link_to 'Offices', 'javascript:void(0);'%></li>
						</ul>
					</li>
					<li>
						<%= link_to 'Events', 'events.html'%>
						<ul>
							<li><%= link_to 'Featured Events', 'javascript:void(0);'%></li>
							<li><%= link_to 'Book an Event', 'javascript:void(0);'%></li>
							<li><%= link_to 'Lookbook', 'javascript:void(0);'%></li>
						</ul>
					</li>
					<li>
						<%= link_to 'Sales', 'sales.html'%>
						<ul>
							<li><%= link_to 'Featured Sales', 'javascript:void(0);'%></li>
							<li><%= link_to 'Latest Offers', 'javascript:void(0);'%></li>
							<li><%= link_to 'Coupons', 'javascript:void(0);'%></li>
							<li><%= link_to 'Specials', 'javascript:void(0);'%></li>
						</ul>
					</li>
					<li>
						<%= link_to 'Location', 'location.html'%>
						<ul>
							<li><%= link_to 'Address', 'javascript:void(0);'%></li>
							<li><%= link_to 'Google Maps', 'javascript:void(0);'%></li>
						</ul>
					</li>
					<li>
						<%= link_to 'Contact', 'contact.html'%>
						<ul>
							<li><%= link_to 'Leasing Opportunities', 'javascript:void(0);'%></li>
						</ul>
					</li>
				</ul>
			</div>
		</section>
	</section>
</nav>