---
title: Directory
---

<div class="l-quote-hero l-directory-hero">
	<div class="u-screen brown"></div>
	<div class="container">
		<h2 class="u-quote"><i class="fa fa-quote-left"></i>Since I discovered Park Place I stop there everyday I my way to work for coffee and pastry from Le Parisien Bakery. It's so much nicer than the other malls nearby.<i class="fa fa-quote-right"></i></h2>
	</div>
</div>

<div class="container margin-md">
	<div class="row">
		<div class="hidden-xs col-sm-4 col-md-3 l-filters">
			<h3 class="brown">Directory Filters</h3>
			<ul>
				<li><%= link_to 'Health &amp; Beauty', 'javascript:void(0);', :class=>'active' %></li>
				<li><%= link_to 'Cuisine', 'javascript:void(0);'%></li>
				<li><%= link_to 'Fashion', 'javascript:void(0);'%></li>
				<li><%= link_to 'Services', 'javascript:void(0);'%></li>
				<li><%= link_to 'Offices', 'javascript:void(0);'%></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-9">
			<ul class="l-horizontal-tabs">
				<li><%= link_to 'Information', 'javascript:void(0)', :class=>'active' %></li>
				<li><%= link_to 'Sales', 'javascript:void(0)' %></li>
				<li><%= link_to 'Coupons', 'javascript:void(0)' %></li>
				<li><%= link_to 'Specials', 'javascript:void(0)' %></li>
			</ul>
			<a href="javascript:void(0);" class="m-client u-clearfix">
				<%= image_tag 'http://placehold.it/240x150' %>
				<section class="m-client-body">
					<h5>Business Name/Title</h5>
					<p>
						Lorem ipsum In veniam minim aute pariatur Excepteur occaecat qui id do in nostrud fugiat dolor dolor et dolore consectetur eiusmod anim aute enim occaecat quis elit est cillum ut in in dolor.
					</p>
					<ul>
						<li>
							<i class="fa fa-fw fa-clock-o"></i> 6:00 am - 9:00 pm
						</li>
						<li>
							<i class="fa fa-fw fa-phone"></i> (559) 123-4567
						</li>
						<li>
							<i class="fa fa-fw fa-map-marker"></i> Directions
						</li>
					</ul>
				</section>
			</a>
			<a href="javascript:void(0);" class="m-client u-clearfix">
				<%= image_tag 'http://placehold.it/240x150' %>
				<section class="m-client-body">
					<h5>Business Name/Title</h5>
					<p>
						Lorem ipsum In veniam minim aute pariatur Excepteur occaecat qui id do in nostrud fugiat dolor dolor et dolore consectetur eiusmod anim aute enim occaecat quis elit est cillum ut in in dolor.
					</p>
					<ul>
						<li>
							<i class="fa fa-fw fa-clock-o"></i> 6:00 am - 9:00 pm
						</li>
						<li>
							<i class="fa fa-fw fa-phone"></i> (559) 123-4567
						</li>
						<li>
							<i class="fa fa-fw fa-map-marker"></i> Directions
						</li>
					</ul>
				</section>
			</a>
			<a href="javascript:void(0);" class="m-client u-clearfix">
				<%= image_tag 'http://placehold.it/240x150' %>
				<section class="m-client-body">
					<h5>Business Name/Title</h5>
					<p>
						Lorem ipsum In veniam minim aute pariatur Excepteur occaecat qui id do in nostrud fugiat dolor dolor et dolore consectetur eiusmod anim aute enim occaecat quis elit est cillum ut in in dolor.
					</p>
					<ul>
						<li>
							<i class="fa fa-fw fa-clock-o"></i> 6:00 am - 9:00 pm
						</li>
						<li>
							<i class="fa fa-fw fa-phone"></i> (559) 123-4567
						</li>
						<li>
							<i class="fa fa-fw fa-map-marker"></i> Directions
						</li>
					</ul>
				</section>
			</a>
		</div>
	</div>
</div>