---
title: Events
---

<div class="l-events-container l-events-container-1">
	<div class="container">
		<div class="row wrapper">
			<div class="col-xs-12 col-md-6">
				<div class="l-ball">
					<div class="ball-content">
						<h2>Bubble Title</h2>
						<h5>Voted Gym in Fresno Best of Central Valley 2015</h5>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 col-md-offset-1">
				<h3>Event Title 2</h3>
				<p>
					Lorem ipsum Dolor laboris in irure labore sit sint ad nostrud ad adipisicing nulla tempor dolor incididunt labore esse nulla et ut eiusmod in Duis dolore eiusmod nisi labore incididunt eiusmod amet nulla ex. Lorem ipsum Do esse occaecat aute ad occaecat sit adipisicing minim ut ad anim commodo sint ad ullamco exercitation culpa sunt dolore pariatur qui Ut Excepteur ullamco commodo nulla officia dolore dolore dolore ea.
				</p>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'RSVP', 'javscript:void(0);', :class=>'u-button trans-white block' %>
					</div>
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Share', 'javscript:void(0);', :class=>'u-button trans-white block' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="events-screen">&nbsp;</div>
</div>

<div class="l-events-container l-events-container-2">
	<div class="container">
		<div class="row wrapper">
			<div class="col-xs-12 col-md-5">
				<h3>Event Title 2</h3>
				<p>
					Lorem ipsum Dolor laboris in irure labore sit sint ad nostrud ad adipisicing nulla tempor dolor incididunt labore esse nulla et ut eiusmod in Duis dolore eiusmod nisi labore incididunt eiusmod amet nulla ex. Lorem ipsum Do esse occaecat aute ad occaecat sit adipisicing minim ut ad anim commodo sint ad ullamco exercitation culpa sunt dolore pariatur qui Ut Excepteur ullamco commodo nulla officia dolore dolore dolore ea.
				</p>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'RSVP', 'javscript:void(0);', :class=>'u-button trans-white block' %>
					</div>
					<div class="col-xs-12 col-sm-6">
						<%= link_to 'Share', 'javscript:void(0);', :class=>'u-button trans-white block' %>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-md-offset-1">
				<div class="l-ball">
					<div class="ball-content">
						<h2>ZAGAT Winner</h2>
						<h5>Award winning food<br>Best of central valley 2015</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="events-screen">&nbsp;</div>
</div>

<div class="u-cta padding-lg">
	<div class="container">
		<h3 class="red">Organize an Event</h3>
		<p>
			Park Place welcomes the opportunity to host a wide range of events and galas throughout the year. Click the button below and see what is available and how Park Place can be the venue you have been looking for... we're waiting to hear from you!
		</p>
		<%= link_to 'Book Event', 'javscript:void(0);', :class=>'u-button red'%>
	</div>
</div>