---
title: Park Place Shopping Center
---

<div class="l-home-hero">
	<div class="container">
		<h1>Park Place. Great Stores. Better Living.</h1>
		<%= link_to 'Directory', 'directory.html', :class=>'u-button red' %>
	</div>
	<div class="u-screen">&nbsp;</div>
</div>

<div class="l-home-clients">
	<div class="container">
		<div class="clients-slick">
			<div><%= image_tag 'images/clients/daily-black.png'%></div>
			<div><%= image_tag 'images/clients/gb3-black.png'%></div>
			<div><%= image_tag 'images/clients/eureka-black.png'%></div>
			<div><%= image_tag 'images/clients/deli-black.png'%></div>
			<div><%= image_tag 'images/clients/dmc.png'%></div>
			<div><%= image_tag 'images/clients/ginza2.png'%></div>
			<div><%= image_tag 'images/clients/capos2.png'%></div>
			<div><%= image_tag 'images/clients/wahoos.png'%></div>
			<div><%= image_tag 'images/clients/nutrishop2.png'%></div>
			<div><%= image_tag 'images/clients/lapeau.png'%></div>
		</div>
	</div>
</div>

<div class="l-home-splash-1">
	<div class="container">
		<div class="row">
		  <div class="row-md-height">
		    <div class="col-xs-12 col-md-6 col-md-height col-md-middle">
		      <div class="inside">
		        <div class="content">
		        	<h3 class="red">Your Chance to Win $500 in Park Place</h3>
		        	<p class="wide">
		        		Have you got what it takes to find the clues and solve the riddle? Those who successfully find the clues and solve the riddle are entered in a prize draw where 3 people will win $500 each
		        	</p>
		        	<%= link_to 'Take Part', 'javascript:void(0);', :class=>'u-button red' %>
		        </div>
		      </div>
		    </div>
		    <div class="col-xs-12 col-md-6 col-md-height col-md-middle news-slick">
		    	<div>
			      <div class="inside">
			        <div class="content">
			        	<h3 class="brown">Great Stories</h3>
			        	<p>
			        		Discover all the exclusive stores located at Park Place.
			        	</p>
			        	<%= link_to 'Explore Stores', 'javascript:void(0);', :class=>'u-button brown' %>
			        	<%= image_tag 'woman_shop_clothes.jpg', :class=>'l-bg-image' %>
			        </div>
			      </div>
		      </div>
		      <div>
		      	<div class="inside">
			        <div class="content">
			        	<h3 class="brown">Fantastic Food</h3>
			        	<p>
			        		Sample some of the amazing food and wine available.
			        	</p>
			        	<%= link_to 'View Restaurants', 'javascript:void(0);', :class=>'u-button brown' %>
			        	<%= image_tag 'fine-dining.jpg', :class=>'l-bg-image' %>
			        </div>
			      </div>
		      </div>
          <div>
          	<div class="inside">
    	        <div class="content">
    	        	<h3 class="brown">Fun Activities</h3>
    	        	<p>
    	        		See what great events are happening at Park Place.
    	        	</p>
    	        	<%= link_to 'View Events', 'javascript:void(0);', :class=>'u-button brown' %>
    	        	<%= image_tag 'casual-dining-makeover.jpg', :class=>'l-bg-image' %>
    	        </div>
    	      </div>
          </div>
          <div>
          	<div class="inside">
    	        <div class="content">
    	        	<h3 class="brown">Sales and Offers</h3>
    	        	<p>
    	        		Find all the great store offers now available!
    	        	</p>
    	        	<%= link_to 'Get Great Deals', 'javascript:void(0);', :class=>'u-button brown' %>
    	        	<%= image_tag 'sales-cropped.jpg', :class=>'l-bg-image' %>
    	        </div>
    	      </div>
          </div>
          <div>
          	<div class="inside">
    	        <div class="content">
    	        	<h3 class="brown">1 Week Free Gym Membership</h3>
    	        	<p>
    	        		1 week free gym membership using this link.
    	        	</p>
    	        	<%= link_to 'View Gym', 'javascript:void(0);', :class=>'u-button brown' %>
    	        	<%= image_tag 'gb3-cropped.jpg', :class=>'l-bg-image' %>
    	        </div>
    	      </div>
          </div>
		    </div>
		   </div>
		</div>
	</div>
</div>

<div class="l-home-splash-2">
	<div class="u-screen brown">&nbsp;</div>
	<div class="container">
		<div class="quote-slick">
			<div>
				<h2 class="u-quote"><i class="fa fa-quote-left"></i>Park Place is my new favorite shopping location. Well worth a visit if you like to get pampered and have great food.<i class="fa fa-quote-right"></i></h2>
			</div>
			<div>
				<h2 class="u-quote"><i class="fa fa-quote-left"></i>Since I discovered Park Place I stop there everyday on my way to work for coffee and a pastry from Le Parisien Bakery. So much nicer than the other malls nearby.<i class="fa fa-quote-right"></i></h2>
			</div>
			<div>
				<h2 class="u-quote"><i class="fa fa-quote-left"></i>I go mainly for the GB3 gym, but it has a great mix of cool stores and has a real pleasant atmosphere<i class="fa fa-quote-right"></i></h2>
			</div>
			<div>
				<h2 class="u-quote"><i class="fa fa-quote-left"></i>I love this place. I come to relax at La Peau Spa and usually end up staying most of the day – especially now that Ginza has opened<i class="fa fa-quote-right"></i></h2>
			</div>
		</div>
	</div>
</div>

<div id="map_canvas"></div>

<div class="l-home-splash-3">
	<div class="u-screen white">&nbsp;</div>
	<div class="container">
		<p>
			Park Place is ideally located at the corner of N Palm Ave and W Nees Ave in Northern Fresno, and has some amazing views over the San Joaquin River. When you see The Daily Grill, you’ll know you have reached your destination.
		</p>
	</div>
	<div class="red">
		<div class="container">
			<h2>Leasing Opportunities</h2>
			<p>
				If you are looking for the right place to locate your new business – look no further!
			</p>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<%= link_to 'Check Availability', 'contact.html', :class=>"u-button trans-white" %>
						</div>
						<div class="col-xs-12 col-sm-6">
							<%= link_to 'Contact Us', 'contact.html', :class=>"u-button trans-white" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.clients-slick').slick({
      autoplay: true,
      mobileFirst: true,
      slidesToShow: 4,
      prevArrow: '<i class="fa fa-chevron-left"></i>',
      nextArrow: '<i class="fa fa-chevron-right"></i>'
    });
    $('.news-slick').slick({
      autoplay: true,
      mobileFirst: true,
      slidesToShow: 1,
      prevArrow: '<i class="fa fa-chevron-left"></i>',
      nextArrow: '<i class="fa fa-chevron-right"></i>',
      speed: 450
    });
    $('.quote-slick').slick({
      autoplay: true,
      mobileFirst: true,
      slidesToShow: 1,
      draggable: false,
      arrows: false,
      pauseOnHover: false,
      speed: 740
    });
  });
</script>

<!--
Add the code below to the bottom of your page, just before the closing </body> tag.
Edit myLatlng and the other variables.

Find syntax for Features that can be styled here:

https://developers.google.com/maps/documentation/javascript/reference#MapTypeStyleFeatureType

Or use a service such as:

http://software.stadtwerk.org/google_maps_colorizr/#
http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
https://developers.google.com/maps/documentation/javascript/tutorial
-->

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(36.8514702, -119.8073112),
        mapCenter = new google.maps.LatLng(36.8514702, -119.8073112),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 17,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
          '<div id="bodyContent"'+
          '<p>Sveavägen 98</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'thoughtbot (Sweden)'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>