---
title: Sales
---

<div class="u-hero l-sales-hero">
	<div class="u-screen brown"></div>
	<div class="container">
		<h2 class="u-quote"><i class="fa fa-quote-left"></i>I love this place! I come to relax at La Peau Spa and usually end staying most of the day-especially now that Ginza has opened.<i class="fa fa-quote-right"></i></h2>
	</div>
</div>

<div class="container margin-sm">
	<div class="row">
		<div class="row-md-height">
			<div class="col-xs-12 col-md-6 col-md-height col-md-middle">
				<div class="u-box box-bg-1">
					<div class="box-content">
						<h3>Featured Sale</h3>
						<p>
							Lorem ipsum Magna voluptate Duis aliqua veniam quis laborum laborum incididunt amet et laboris.
						</p>
						<%= link_to 'View', 'javascript:void(0);', :class=>'u-button trans-white' %>
					</div>
					<div class="u-screen"></div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-md-height col-md-middle">
				<div class="u-box box-brown">
					<div class="box-content">
						<h3>Featured Sale</h3>
						<p>
							Lorem ipsum Magna voluptate Duis aliqua veniam quis laborum laborum incididunt amet et laboris. Lorem ipsum Et elit dolore in amet esse.
						</p>
						<%= link_to 'View', 'javascript:void(0);', :class=>'u-button brown' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="l-sales-splash">
	<div class="container">
		<h3>Looking for a specific sale?</h3>
		<p>
			Lorem ipsum Quis magna dolore dolor mollit do voluptate labore enim et labore sunt incididunt incididunt non minim ad adipisicing occaecat cupidatat deserunt dolore cupidatat consectetur veniam laboris eiusmod reprehenderit nostrud pariatur in enim qui.
		</p>
		<%= link_to 'Sales Directory', 'javascript:void(0);', :class=>'u-button trans-white' %>
	</div>
	<div class="u-screen red"></div>
</div>

<div class="container margin-sm">
	<div class="row">
		<div class="row-md-height">
			<div class="col-xs-12 col-md-6 col-md-height col-md-middle">
				<div class="u-box box-red">
					<div class="box-content">
						<h3>Featured Sale</h3>
						<p>
							Lorem ipsum Magna voluptate Duis aliqua veniam quis laborum laborum incididunt amet et laboris. Lorem ipsum Et elit dolore in amet esse.
						</p>
						<%= link_to 'View', 'javascript:void(0);', :class=>'u-button red' %>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-md-height col-md-middle">
				<div class="u-box box-bg-2">
					<div class="box-content">
						<h3>Featured Sale</h3>
						<p>
							Lorem ipsum Magna voluptate Duis aliqua veniam quis laborum laborum incididunt amet et laboris.
						</p>
						<%= link_to 'View', 'javascript:void(0);', :class=>'u-button trans-white' %>
					</div>
					<div class="u-screen"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="u-cta padding-lg">
	<div class="container">
		<h3 class="red">Coupons, Specials, Promotionals,... OH MY</h3>
		<p>
			Lorem ipsum Eiusmod sit nostrud amet ex fugiat in sunt voluptate exercitation labore magna nulla eiusmod labore occaecat minim aliquip mollit veniam officia sunt in dolor culpa ad aliqua sed eiusmod cillum sit ullamco reprehenderit in cupidatat commodo dolor.
		</p>
		<%= link_to 'View More', 'javscript:void(0);', :class=>'u-button red'%>
	</div>
</div>